ul.thumbnails.image_picker_selector {
	overflow: auto;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul.thumbnails.image_picker_selector ul {
	overflow: auto;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul.thumbnails.image_picker_selector li.group_title {
	float: none;
}

ul.thumbnails.image_picker_selector li {
	margin: 0px 6px 6px 0px;
	float: left;
}

ul.thumbnails.image_picker_selector li .thumbnail {
	padding: 6px;
	border: 1px solid #dddddd;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

ul.thumbnails.image_picker_selector li .thumbnail img {
	-webkit-user-drag: none;
}

ul.thumbnails.image_picker_selector li .thumbnail.selected {
	background: #0088ff;
}

.image_picker_image_thumb {
	width: 60px;
	height: 40px;
	margin: 20px 30px;
}

.image_picker_image {
	width: 120px;
	height: 80px;
}

.labels {
	display: block;
	font-size: 12px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 120px;
	height: 16px;
}