.icon-confirm {background:url('myicons/confirm.gif') no-repeat center center;}
.icon-cancel {background:url('myicons/cancel.gif') no-repeat center center;}
.icon-submit {background:url('myicons/submit.gif') no-repeat center center;}
.icon-reset {background:url('myicons/reset.gif') no-repeat center center;}
.icon-success {background:url('myicons/success.gif') no-repeat center center;}
.icon-fail {background:url('myicons/fail.gif') no-repeat center center;}
.icon-tips {background:url('myicons/tips.gif') no-repeat center center;}
.icon-warning {background:url('myicons/warning.gif') no-repeat center center;}
.icon-warn {background:url('myicons/warn.gif') no-repeat center center;}
.icon-wrong {background:url('myicons/wrong.gif') no-repeat center center;}
.icon-disable {background:url('myicons/disable.gif') no-repeat center center;}
.icon-enable {background:url('myicons/enable.gif') no-repeat center center;}
.icon-help {background:url('myicons/help.gif') no-repeat center center;}
.icon-add {background:url('myicons/add.gif') no-repeat center center;}
.icon-del {background:url('myicons/del.gif') no-repeat center center;}
.icon-save {background:url('myicons/save.gif') no-repeat center center;}
.icon-edit {background:url('myicons/edit.gif') no-repeat center center;}
.icon-refresh {background:url('myicons/refresh.gif') no-repeat center center;}
.icon-eraser {background:url('myicons/eraser.gif') no-repeat center center;}
.icon-undo {background:url('myicons/undo.gif') no-repeat center center;}
.icon-redo {background:url('myicons/redo.gif') no-repeat center center;}
.icon-preview {background:url('myicons/preview.gif') no-repeat center center;}
.icon-find {background:url('myicons/find.gif') no-repeat center center;}
.icon-search {background:url('myicons/search.gif') no-repeat center center;}
.icon-print {background:url('myicons/print.gif') no-repeat center center;}
.icon-excel {background:url('myicons/excel.gif') no-repeat center center;}
.icon-word {background:url('myicons/word.gif') no-repeat center center;}
.icon-epdf {background:url('myicons/epdf.gif') no-repeat center center;}
.icon-export {background:url('myicons/export.gif') no-repeat center center;}
.icon-import {background:url('myicons/import.gif') no-repeat center center;}
.icon-calculate {background:url('myicons/calculate.gif') no-repeat center center;}
.icon-statist {background:url('myicons/statist.gif') no-repeat center center;}
.icon-chart {background:url('myicons/chart.gif') no-repeat center center;}
.icon-filter {background:url('myicons/filter.gif') no-repeat center center;}
.icon-lock {background:url('myicons/lock.gif') no-repeat center center;}
.icon-unlock {background:url('myicons/unlock.gif') no-repeat center center;}
.icon-newdoc {background:url('myicons/newdoc.gif') no-repeat center center;}
.icon-editdoc {background:url('myicons/editdoc.gif') no-repeat center center;}
.icon-deldoc {background:url('myicons/deldoc.gif') no-repeat center center;}
.icon-copy {background:url('myicons/copy.gif') no-repeat center center;}
.icon-cut {background:url('myicons/cut.gif') no-repeat center center;}
.icon-paste {background:url('myicons/paste.gif') no-repeat center center;}
.icon-trash {background:url('myicons/trash.gif') no-repeat center center;}
.icon-return {background:url('myicons/return.gif') no-repeat center center;}
.icon-clean {background:url('myicons/clean.gif') no-repeat center center;}
.icon-download {background:url('myicons/download.gif') no-repeat center center;}
.icon-upload {background:url('myicons/upload.gif') no-repeat center center;}
.icon-database {background:url('myicons/database.gif') no-repeat center center;}
.icon-dbcopy {background:url('myicons/dbcopy.gif') no-repeat center center;}
.icon-dbbackup {background:url('myicons/dbbackup.gif') no-repeat center center;}
.icon-backup {background:url('myicons/backup.gif') no-repeat center center;}
.icon-share {background:url('myicons/share.gif') no-repeat center center;}
.icon-alarm {background:url('myicons/alarm.gif') no-repeat center center;}
.icon-sms {background:url('myicons/sms.gif') no-repeat center center;}
.icon-email {background:url('myicons/email.gif') no-repeat center center;}
.icon-message {background:url('myicons/message.gif') no-repeat center center;}
.icon-attachment {background:url('myicons/attachment.gif') no-repeat center center;}
.icon-setting {background:url('myicons/setting.gif') no-repeat center center;}
.icon-config {background:url('myicons/config.gif') no-repeat center center;}
.icon-register {background:url('myicons/register.gif') no-repeat center center;}
.icon-switchuser {background:url('myicons/switchuser.gif') no-repeat center center;}
.icon-user {background:url('myicons/user.gif') no-repeat center center;}
.icon-group {background:url('myicons/group.gif') no-repeat center center;}
.icon-logout {background:url('myicons/logout.gif') no-repeat center center;}
.icon-file {background:url('myicons/file.gif') no-repeat center center;}
.icon-doc {background:url('myicons/doc.gif') no-repeat center center;}
.icon-xls {background:url('myicons/xls.gif') no-repeat center center;}
.icon-ppt {background:url('myicons/ppt.gif') no-repeat center center;}
.icon-pdf {background:url('myicons/pdf.gif') no-repeat center center;}
.icon-htm {background:url('myicons/htm.gif') no-repeat center center;}
.icon-zip {background:url('myicons/zip.gif') no-repeat center center;}
.icon-rar {background:url('myicons/rar.gif') no-repeat center center;}
.icon-image {background:url('myicons/image.gif') no-repeat center center;}
.icon-audio {background:url('myicons/audio.gif') no-repeat center center;}
.icon-video {background:url('myicons/video.gif') no-repeat center center;}
.icon-folder {background:url('myicons/folder.gif') no-repeat center center;}
.icon-audit {background:url('myicons/audit.gif') no-repeat center center;}
.icon-reject {background:url('myicons/reject.gif') no-repeat center center;}
.icon-multiaudit {background:url('myicons/multiaudit.gif') no-repeat center center;}
.icon-takeback {background:url('myicons/takeback.gif') no-repeat center center;}
.icon-transmit {background:url('myicons/transmit.gif') no-repeat center center;}
.icon-reply {background:url('myicons/reply.gif') no-repeat center center;}
.icon-multitransmit {background:url('myicons/multitransmit.gif') no-repeat center center;}
.icon-countersign {background:url('myicons/countersign.gif') no-repeat center center;}
.icon-hole {background:url('myicons/hole.gif') no-repeat center center;}
.icon-timeout {background:url('myicons/timeout.gif') no-repeat center center;}
.icon-wait {background:url('myicons/wait.gif') no-repeat center center;}
.icon-calendar {background:url('myicons/calendar.gif') no-repeat center center;}
.icon-redflag {background:url('myicons/redflag.gif') no-repeat center center;}
.icon-yellowflag {background:url('myicons/yellowflag.gif') no-repeat center center;}
.icon-greenflag {background:url('myicons/greenflag.gif') no-repeat center center;}
.icon-tabledialog {background:url('myicons/tabledialog.gif') no-repeat center center;}
.icon-colorbox {background:url('myicons/colorbox.gif') no-repeat center center;}
.icon-keyboard {background:url('myicons/keyboard.gif') no-repeat center center;}
.icon-filedialog {background:url('myicons/filedialog.gif') no-repeat center center;}
.icon-address {background:url('myicons/address.gif') no-repeat center center;}
.icon-person {background:url('myicons/person.gif') no-repeat center center;}
.icon-dept {background:url('myicons/dept.gif') no-repeat center center;}
.icon-computer {background:url('myicons/computer.gif') no-repeat center center;}
.icon-telephone {background:url('myicons/telephone.gif') no-repeat center center;}
.icon-mobile {background:url('myicons/mobile.gif') no-repeat center center;}
.icon-globe {background:url('myicons/globe.gif') no-repeat center center;}
.icon-cloud {background:url('myicons/cloud.gif') no-repeat center center;}
.icon-weather {background:url('myicons/weather.gif') no-repeat center center;}
.icon-ads {background:url('myicons/ads.gif') no-repeat center center;}
.icon-article {background:url('myicons/article.gif') no-repeat center center;}
.icon-baseinfo {background:url('myicons/baseinfo.gif') no-repeat center center;}
.icon-home {background:url('myicons/home.gif') no-repeat center center;}
.icon-link {background:url('myicons/link.gif') no-repeat center center;}
.icon-news {background:url('myicons/news.gif') no-repeat center center;}
.icon-pagefoot {background:url('myicons/pagefoot.gif') no-repeat center center;}
.icon-pagehead {background:url('myicons/pagehead.gif') no-repeat center center;}
.icon-pagenav {background:url('myicons/pagenav.gif') no-repeat center center;}
.icon-pc {background:url('myicons/pc.gif') no-repeat center center;}
.icon-site {background:url('myicons/site.gif') no-repeat center center;}
.icon-siteconfig {background:url('myicons/siteconfig.gif') no-repeat center center;}
.icon-title {background:url('myicons/title.gif') no-repeat center center;}
.icon-works {background:url('myicons/works.gif') no-repeat center center;}
.icon-notice {background:url('myicons/notice.gif') no-repeat center center;}
.icon-category {background:url('myicons/category.gif') no-repeat center center;}
.icon-system {background:url('myicons/system.gif') no-repeat center center;}
.icon-logger {background:url('myicons/logger.gif') no-repeat center center;}
.icon-template {background:url('myicons/template.gif') no-repeat center center;}